/* * {
    position: absolute;
} */

#logo {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
    /* background-color: #2461FF; */
    box-shadow: 10px 10px 5px #000a;
    border: 1px solid black;
}

#login--container {
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 60%;

    /* background-color: rgb(205, 226, 245); */
    background-color: #a5d8ff;
    border: 1px solid #000;
    box-shadow: 20px 20px 5px #000a;
    border-radius: 15px;

    overflow: hidden;
}

#carousel--div {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#image--holder {
    position: absolute;
    top: 10%;
    width: 100%;
    aspect-ratio: 1 / 1;
}

#register--routing--button {
    cursor: pointer;
    width: 35%;
    height: 55%;
    background-color: white;
    border: 2px solid #2461FF;
    border-radius: 5px;
    outline: none;
    color: #2461FF;
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
}

#register--routing--button:hover {
    /* scale: 1.05; */
    background-color: #2461FF;
    color: #fff;
}

#dividing--line {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #000;
}

#login--div {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    /* background-color: beige; */
}

.login--divs {
    position: absolute;
    width: 100%;
}

#login--title {
    display: flex;
    top: 10%;
    height: 15%;
    /* background-color: blue; */
    font-size: 2em;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

#login--form {
    top: 27.5%;
    height: 50%;
    /* background-color: blueviolet; */
}

#login--form.label {
    display: block;
    font-size: 1.25em;
}

#login--form>input {
    cursor: pointer;
    display: block;
    left: 12.5%;
    width: 75%;
    padding: 7.5px;
    min-height: 32px;
    max-height: 45px;
    height: 25%;
    border: 2px solid #2461FF;
    border-radius: 7.5px;
    outline: none;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}

#login--form>input::placeholder {
    font-size: 16px;
    font-weight: bold;
    color: #000a;
    letter-spacing: 2px;
}

#email--input {
    position: absolute;
    top: 15%;
}

#password--input {
    position: absolute;
    top: 50%;
}

#forgot--password {
    cursor: pointer;
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    top: 80%;
    right: 12.5%;
    font-family: monospace;
    font-weight: bold;
}

#forgot--password:hover {
    color: #2461FF;
}

.button--holder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    width: 100%;
    height: 15%;
}

/* #button--div {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    height: 15%;
    background-color: aqua;
} */

#login--button {
    cursor: pointer;
    width: 30%;
    height: 55%;
    background-color: #2461FF;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
}

#login--button:hover {
    scale: 1.05;
    background-color: #000;
    color: #fff;
}