#fp--email--div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 400px;
    height: 60%;
    max-height: 350px;
    background-color: #a5d8ff;
    border-radius: 15px;
    box-shadow: 20px 20px 5px #000a;
    border: 1px solid black;
}

#fp--title {
    display: flex;
    top: 10%;
    height: 15%;
    /* background-color: blue; */
    font-size: 1.2em;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

#fp--email--input {
    margin: auto;
    margin-top: 5%;
    width: 85%;
    cursor: pointer;
    display: block;
    padding: 7.5px;
    min-height: 32px;
    max-height: 45px;
    height: 25%;
    border: 2px solid #2461FF;
    border-radius: 7.5px;
    outline: none;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

#fp--email--input.notvalid {
    border: 2px solid red;

}

#fp--email--input::placeholder {
    text-align: center;
    font-size: 16px;
}

#email--error--div {
    font-size: 13px;
    font-family: monospace;
    width: 85%;
    margin: 2% auto;
    font-weight: bold;
    color: red;
}

#fp--info--div {
    position: absolute;
    top: 45%;
    width: 80%;
    left: 10%;
    height: 30%;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

#otp--request--div {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 65%;
    /* background-color: #2461FF; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#otp--request--button {
    width: 40%;
    max-width: 150px;
    height: 50%;
    cursor: pointer;
    background-color: #2461FF;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
}

#otp--request--button:hover {
    background-color: black;
    color: #fff;
}


#verify--otp--div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 400px;
    height: 60%;
    max-height: 350px;
    background-color: #a5d8ff;
    border-radius: 15px;
    box-shadow: 20px 20px 5px #000a;
    border: 1px solid black;
}