#fp--email--div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 400px;
    height: 60%;
    max-height: 350px;
    background-color: #a5d8ff;
    border-radius: 15px;
    box-shadow: 20px 20px 5px #000a;
    border: 1px solid black;
}

#fp--title {
    display: flex;
    top: 10%;
    height: 15%;
    /* background-color: blue; */
    font-size: 1.2em;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

#fp--email--input {
    margin: auto;
    margin-top: 5%;
    width: 85%;
    cursor: pointer;
    display: block;
    padding: 7.5px;
    min-height: 32px;
    max-height: 45px;
    height: 25%;
    border: 2px solid #2461FF;
    border-radius: 7.5px;
    outline: none;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

#fp--email--input.notvalid {
    border: 2px solid red;

}

#fp--email--input::placeholder {
    text-align: center;
    font-size: 16px;
}

#email--error--div {
    font-size: 13px;
    font-family: monospace;
    width: 85%;
    margin: 2% auto;
    font-weight: bold;
    color: red;
}

#fp--info--div {
    position: absolute;
    top: 45%;
    width: 80%;
    left: 10%;
    height: 30%;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

#otp--request--div {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 65%;
    /* background-color: #2461FF; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#otp--request--button {
    width: 40%;
    max-width: 150px;
    height: 50%;
    cursor: pointer;
    background-color: #2461FF;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
}

#otp--request--button:hover {
    background-color: black;
    color: #fff;
}

#top--half {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #a5d8ff;
}

#verify--otp--div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 450px;
    height: 60%;
    max-height: 350px;
    background-color: #a5d8ff;
    border-radius: 15px;
    box-shadow: 20px 20px 5px #000a;
    border: 1px solid black;
    overflow: hidden;
}

#verify--title {
    display: flex;
    top: 15%;
    height: 40%;
    /* background-color: blue; */
    font-size: 1.2em;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

#sent--message {
    margin: auto;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#verify--otp--input {
    position: absolute;
    left: 25%;
    bottom: 12.5%;
    cursor: pointer;
    display: block;
    width: 50%;
    padding: 7.5px;
    min-height: 32px;
    max-height: 45px;
    height: 25%;
    border: 2px solid #2461FF;
    border-radius: 7.5px;
    outline: none;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
}

#verify--otp--input::placeholder {
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
}

#horizontal--line {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 50%;
    background-color: black;
}

#bottom--half {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: #fff;
}

#div--housing {
    position: absolute;
    width: 100%;
    height: 50%;
}

#timer--div {
    position: absolute;
    width: 50%;
    height: 100%;
    font-family: monospace;
}

.sub--timer--divs {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textual {
    font-size: 14px;
}

#time--left {
    top: 30%;
    font-size: 150%;
}

#resend--otp {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.inactivate {
    pointer-events: none;
    opacity: 0.5;
}

.highlight {
    padding: 5px;
    border-radius: 5px;
    /* border: 2px solid #2461FF; */
    background-color: #a5d8ff;
}

#resend--otp>p {
    cursor: pointer;
    text-decoration: none;
}

#resend--otp>p:hover {
    text-decoration: none;
    color: #2461FF;
}

#verify--button--div {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verify--button {
    width: 40%;
    max-width: 150px;
    height: 60%;
    cursor: pointer;
    background-color: #2461FF;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 130%;
}

#verify--button:hover {
    background-color: black;
    color: white;
}